header{
  margin-bottom: 8rem;
}
  /* Change colour here */


.boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.box {
  border-radius: 8px;
  /* Change colour here */
  border: 1px solid rgb(90, 80, 80);
  width: 8rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.box__buttons {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}
